<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <div class="head">
      <h2>Welcome, {{request.session.user.username}}</h2>
      <div class='headright'>
        <a href=/logout>Logout</a>
      </div>
    </div>
    <div class='body'>
      <h3>Your Wish List:</h3>
      <table>
        <tr>
          <th>Item</th>
          <th>Added By</th>
          <th>Date Added</th>
          <th>Action</th>
        </tr>
        {% for item in items %}
        <tr>
          <td><a href='/item/{{item.id}}'>{{item.name}}</a></td>
          <td>{{item.user.name}}</td>
          <td>{{item.created_at}}</td>
          <td><a href ='/delete/{{item.id}}'>Delete</a></td>
        </tr>
        {% endfor %}
      </table>
      <h3>Other Users' Wish List</h3>
      <table>
        <tr>
          <th>Item</th>
          <th>Added By</th>
          <th>Date Added</th>
          <th>Action</th>
        </tr>
        {% for other in other %}
        <tr>
          <td><a href='/item/{{item__id}}'>{{other.name}}</a></td>
          <td>{{other.user.name}}</td>
          <td>{{other.created_at}}</td>
          <td><a href ='/move/{{item.id}}'>Add to my wishlist</a></td>
        </tr>
        {% endfor %}
      </table>
      <a href='/add'>Add Item</a>
    </div>
  </body>
</html>
