<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <h2>Welcome!</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2>Register</h2>
    <form action="/register" method='post'>
      {% csrf_token %}
      <label>Name <input type="text" name="name"></label>
      <label>Username <input type="text" name="username"></label>
      <label>Password <input type="password" name="password"></label>
      <label>Confirm Password <input type="password" name="confirm_pw"></label>
      <label>Date Hired: <input type="date" name="date"></label>
      <input type="submit" value="Register">
    </form>
    <h2>Login</h2>
    <form action="/login" method='post'>
      {% csrf_token %}
      <label>Username <input type="text" name="username"></label>
      <label>Password <input type="password" name="password"></label>
      <input type="submit" value="Login">
    </form>

  </body>
</html>
